
<form action="/posts" method="post">
    <label for="name" type="text">Blog Title: </label><input id="name" type="text" name="name">
    <label for="content" type="text">Blog Content: </label><input id="content" type="text" name="content">
    <input type="submit" value="submit">
</form>